.mt10.ml10
  %span.grey3.font20
    线上课程资料
  %span.grey9
    >
    = resource.name
.mt20.clearfix.ml20
  .fl
    GIF动作分解图：
  .fl.ml20.w600
    = raw resource.gif_images
.mt20.clearfix.ml20
  .fl
    常见错误演示：
  .fl.ml20.w600
    = raw resource.common_error

.mt20.clearfix.ml20
  .fl
    预习功课：
  .fl.ml20.w600
    = raw resource.prepare

.mt20.clearfix.ml20
  .fl
    三角形球体：
  .fl.ml20.w600
    = raw resource.sjx
