.clearfix
  .fl.w120
    = render "shared/weixin_sidebar"
  .fl.w860.ml20
    = render "tab"
    %table.table1
      %tr
        %th 题目
        %th 选项
        %th 答案
        %th 排序
        %th 发布
        %th 创建时间
        %th 操作
      - _collection = collection.order("sort asc").page(params[:page]).per(10)
      - _collection.each_with_index do |_item|
        %tr{ class: cycle('odd', 'even') }
          %td= _item.title
          %td= raw _item.items.gsub("\r\n","<br />")
          %td= _item.result
          %td= _item.sort
          %td= _item.published ? "是" : "否"
          %td= format_time _item.created_at
          %td
            = link_to '修改', edit_weixin_w_question_path(_item)
            = link_to '删除', [:weixin, _item], method: :delete, data: { confirm: '你确定删除么？' }

    = paginate _collection

