#aboutkt
  .sectiontop
    = image_tag "newhome/about_kt/new/top.jpg",width: "1200"

#qapage.clearfix
  %ul.qamenu.fl
    %li
      = link_to "游玩&活动","javascript:;", :"data-id" => "qa1",:class => "active first"
    %li
      = link_to "关于2026计划","javascript:;", :"data-id" => "qa2"
    %li
      = link_to "俱乐部相关","javascript:;", :"data-id" => "qa3"
    %li
      = link_to "账号类相关","javascript:;", :"data-id" => "qa4"
    %li
      = link_to "App相关","javascript:;", :"data-id" => "qa5"

  %ul#qa1.qacontent.fl
    %li
      .title
        水平很低，我还是可以参加吗
      .reply
        KT足球：KT足球是由前女足国脚刘力豪创立的一种足球运动新玩法，它将足球和娱乐、游戏等潮流元素跨界结合，通过线下比赛、线上互动，创造了一种自由时尚、潮流有范的运动方式，为参赛者和观众带来互动性极强的感官体验。
    %li
      .title
        KT足球的比赛规则？
      .reply
        KT足球：KT足球比赛规则：
        %br/
        ·凭借个人专属参赛二维码参赛（可通过KT足球微信或者KT会员卡获得）；
        %br/
        ·在充气式气场内进行3分钟1v1或者2v2的比赛；
        %br/
        ·穿裆得一分，进球得两分，穿裆后控制住球（称之为KT）直接获胜；
        %br/
        ·APP执法，比赛后积分和视频直接上传至网络
    %li
      .title
        什么是KT？
      .reply
        KT足球：若在比赛进行中，A方踢球穿过B方两腿之间（被穿裆时B方的腿任何一条腿不能高于地面10厘米），并在球碰到充气场地或者进门之前，控制住球。则A方直接获胜（无论当前比分如何）。这种情况称为KT.
    %li
      .title
        KT足球去哪里玩？
      .reply
        KT足球：KT足球现在已经在全国及亚洲23个城市拥有代理商和俱乐部，分别是北京、青岛、长沙、佛山、绍兴、淄博、上海、杭州、贵阳、三亚、日照、成都、香港、大连、武汉、无锡、合肥、台湾花莲、西安、石嘴山、扬州、南京、新加坡，在这些城市都可以参与KT足球，在未来KT足球的脚步也会在更多的城市越走越远。
    %li
      .title
        KT足球容易产生运动伤害吗？
      .reply
        KT足球：凡是运动都含有受伤的风险，但KT足球致力于将这种风险减至最低，KT足球气场具有绝佳的弹性和抗压性，是运动中防止严重受伤的最佳保障，使受伤概率无限接近于零。
    %li
      .title
        KT足球气场会不会很难携带？
      .reply
        KT足球：KT足球气场规格730*530cm, 占地仅38.69m²，卷起之后可以装入汽车后备箱，方便携带。
    %li.last
      .title
        2v2的比赛模式怎么积分？
      .reply
        KT足球：2v2的比赛模式分为固定战队和临时战队两种，积分方法也不同。
        %br/
        临时战队：每个人可以组成无限数量的临时战队，但是积分不会在2v2的积分总榜中显示，只显示在个人2v2积分中。两个人组成临时战队时，团队级别是二人中较高的级别，团队胜利后会获得1v1双倍的积分，二人平分，即每人得到的积分和1v1模式相同。
        %br/
        固定战队：有独立的积分系统，二人为一队，团体的级别要从0级开始升级，积分会显示在2v2积分总榜中，每人限制最多可以组成10支固定战队。

  %ul#qa2.qacontent.fl.none
    %li
      .title
        什么是2026计划？
      .reply
        KT足球：2026计划是前女足国脚刘力豪创立的一个足球发展项目。以支持中国青少年校园足球发展为目的，通过在学校投放标准、专业、安全的便携式充气足球场（气场），开展KT足球赛，激发学生参与足球运动的热情，增强中国足球的青少年基础，让每个孩子都能够享受足球运动的快乐。2026项目凝聚政府、公益组织、学校、企业以及各方面社会资源，推动中国校园足球发展。
        %br/
        目标在2026年世界杯之前让中国拥有5000万足球爱好者，创造10万个与足球相关的工作岗位，让中国成为真正的足球大国。

    %li
      .title
        为什么是2026？为什么是5000万和10万个？
      .reply
        KT足球：中国足球的发展不是一朝一夕之事，需要建立完整的系统和规划，2012至2026，正是一代青少年足球成长的周期（6—20岁）；发达足球国家都有成熟的足球市场，注册足球人口占国家总人数的3%；在2026计划的产业链上，至少可以创造10万个工作岗位。
    %li
      .title
        如何参与2026计划？
      .reply
        KT足球：2026计划含气场捐赠、体育老师培训、退役运动员再就业等多个子公益项目，企业可以通过购买气场向学校捐赠来实现公益事业。
    %li
      .title
        企业通过2026捐赠气场能获得什么？
      .reply
        KT足球：2026计划是在实践家文教基金会底下成立的公益，企业捐赠气场的资金直接汇到基金会的账户里，可以给企业开公益发票用来抵税，即通过捐赠气场，不仅可以给企业做公益行销，而且几乎不用花费金钱。除此之外，企业捐赠10个以上气场可以直接在气场上印刷企业logo，并举办捐赠仪式。

  %ul#qa3.qacontent.fl.none
    %li
      .title
        俱乐部加盟费用里面包含哪些东西？
      .reply

    %li
      .title
        气场的配套有哪些？
      .reply
        = image_tag "newhome/qa.jpg",size: "480x600"
        
    %li
      .title
        气场的规格？
      .reply
        标准气场：长7.3米，宽5.3米；小小气场：长4.3米，宽3.3米。
    %li
      .title
        俱乐部的盈利点有哪些？
      .reply
        1）会员卡（10元/张）所有参加KT足球的会员在线下必须要购买一张10元的会员卡即可参加比赛。拥有这张会员卡上面有您专属的二维码，裁判扫描您的二维码可以开始比赛。回去之后可以在KT足球官方网站上面登录您个人的账号，看到您的所有视频与积分排名。俱乐部订购会员卡的价格为6元/张。
        %br/
        2）1级以上的会员需要充值场次才可以继续参加比赛，这部分的费用也是俱乐部的盈利；
        %br/
        3）品牌客户、商场、地产等客户有做活动或者赞助的需求，这部分的费用是相当可观的，很多刚加入进来的客户，可以通过1-2场的活动，就将投入成本收回了。
        %br/
        4）后续在KT足球的平台上还将会推出更多的项目、周边产品，都是可以升级在各地落地执行获得盈利的一部分。（例如：儿童培训课程、周边产品等）
    %li
      .title
        来上海培训都需要我这边准备什么东西呢？
      .reply
        提前将参加培训的人员信息给到总部，填写俱乐部培训信息采集表。培训的时间一般为2天1夜，请提前安排好培训的行程。
    %li
      .title
        俱乐部培训的内容是什么？
      .reply
        俱乐部2天1夜的培训包括：什么是KT足球；KT足球线下活动的组织；市场的沟通技巧（与各种不同的领域介绍KT足球）；创意传播；如何做规划（规划您的事业与生活）；团队内部管理沟通系统等
    %li
      .title
        俱乐部以及城市代理，可否管理以及看到自己下属的会员信息？
      .reply
        可以，每一个通过您举办的比赛加入的会员，都可以在您的账号登陆个人页面下面看到；城市代理可以看到下属所有这个地区俱乐部，以及这个城市的所有会员信息。
    %li
      .title
        赞助商图案印制怎么安排？
      .reply
        一般情况下我们都是直接制作“可转移背胶”张贴的，像NIKE的，地产的，都是直接张贴上去的，香港做活动的时候一个气场上贴了近10个赞助商的品牌。
    %li
      .title
        在ipad里面找不到KT足球的客户端怎么办？
      .reply
        请在ipad的苹果商城里面搜索KT足球的时候选择“仅iphone”
    %li
      .title
        气场二维码的作用？
      .reply
        增加LBS定位功能，可以记录各地气场使用位置、气场使用频率、方便在网站后台对于气场的管理。未来定位功能的上线可以让我们的会员查看他附近正在进行比赛的气场。记录他的比赛痕迹，绘制赛事地图。也可以让我们各地的团队在网站后台查看每个气场的使用状况并进行的管理。
    %li
      .title
        KT足球俱乐部的期限一般为多久？
      .reply
        为一年，加盟的费用为一年所需要的品牌代理费用，加上保证金。保证金是和一年内的会员数量相关，一年内，俱乐部达到会员数量1000人，总部退还保证金，否则按照每个10元的费用扣除。
  %ul#qa4.qacontent.fl.none
    %li
      .title
        如何注册成为KT足球会员？
      .reply
        成为KT的会员有2种方式：
        %br/
        a）可以在任何拥有KT足球的城市，举办KT足球赛的线下购买KT足球的会员卡（10元人民币/张），即可拥有您全球唯一识别二维码账号，可以在网站登陆您的账户、密码，查看您所有积分、视频等。
        %br/
        b）扫描（关注）KT足球服务号，線上註冊即可获得免费会员二维码，并且可以同步您的微信头像信息。
    %li
      .title
        如何登陆自己的账号？
      .reply
        每张会员卡上面都有会员的初始账号和密码，登陆之后，您也可以自己修改个人信息。
        %br/
        （凡是綁定手機後，可以用手機進行當作帳號進行登入。）
    %li
      .title
        如果忘记自己密码怎么办？
      .reply
        你可以在網頁及App內 點選忘記密碼，利用綁定的手機號 重新設置新密碼。
    %li
      .title
        会员如何充值？
      .reply
        现在可以在KT官网或者KT微信服务号进行储值，续费。
  %ul#qa5.qacontent.fl.none
    %li
      .title
        如何登陆自己的账号？
      .reply
        會員可以透過卡片上的帳號密碼進行App登入，或者運用在KT微信服務號註冊的帳號密碼進行登入。綁定手機者，手機號即為登入帳號。
    %li
      .title
        如何註冊？
      .reply
        使用者可以直接在App直接填上帳號密碼進行註冊，或者運用微信 微博 及 QQ直接登入。
    %li
      .title
        為什麼需要綁定手機？ 遺失密碼該怎麼辦？
      .reply
        為了提升帳號安全，我們將以手機號為認證基準。 日後使用者將可以運用手機號 找回遺失的密碼。
    %li
      .title
        該如何觀看KT足球對戰紀錄？
      .reply
        使用者可以在App個人資料內觀看對戰紀錄，或者是上土豆網搜尋KT足球官方自頻道，在搜索欄裡輸入使用者的帳號即可看到該用戶所有對戰紀錄。


:coffeescript
  $ ->
    $("body").on "click","ul.qamenu > li > a", ->
      $("ul.qamenu a").removeClass "active"
      $(this).addClass "active"
      $("ul.qacontent").hide()
      _id = $(this).attr("data-id")
      $("ul#"+_id).show()
