:css
  img{ padding: 0; margin: 0; display: block; }

= image_tag("weixin/brand/b_02.jpg",class: "full-width")
= image_tag("weixin/brand/b_03.jpg",class: "full-width")
= image_tag("weixin/brand/b_04.jpg",class: "full-width")
= image_tag("weixin/brand/b_05.jpg",class: "full-width")
= image_tag("weixin/brand/b_06.jpg",class: "full-width")
= image_tag("weixin/brand/b_08.jpg",class: "full-width")
= image_tag("weixin/brand/b_09.jpg",class: "full-width")
= image_tag("weixin/brand/b_10.jpg",class: "full-width")
