:css
  img{ padding: 0; margin: 0; display: block; }

= image_tag("weixin/city/c_01.jpg",class: "full-width")
= image_tag("weixin/city/c_02.jpg",class: "full-width")
= image_tag("weixin/city/c_03.jpg",class: "full-width")
= image_tag("weixin/city/c_04.jpg",class: "full-width")
= image_tag("weixin/city/c_05.jpg",class: "full-width")
= image_tag("weixin/city/c_06.jpg",class: "full-width")
= image_tag("weixin/city/c_07.jpg",class: "full-width")
= image_tag("weixin/city/c_08.jpg",class: "full-width")
= image_tag("weixin/city/c_09.jpg",class: "full-width")
= image_tag("weixin/city/c_10.jpg",class: "full-width")
= image_tag("weixin/city/c_11.jpg",class: "full-width")
= image_tag("weixin/city/c_12.jpg",class: "full-width")
= image_tag("weixin/city/c_13.jpg",class: "full-width")
= image_tag("weixin/city/c_14.jpg",class: "full-width")
= image_tag("weixin/city/c_15.jpg",class: "full-width")
= image_tag("weixin/city/c_16.jpg",class: "full-width")
= image_tag("weixin/city/c_17.jpg",class: "full-width")
= image_tag("weixin/city/c_18.jpg",class: "full-width")
= image_tag("weixin/city/c_19.jpg",class: "full-width")
= image_tag("weixin/city/c_20.jpg",class: "full-width")
= image_tag("weixin/city/c_21.jpg",class: "full-width")
= image_tag("weixin/city/c_22.jpg",class: "full-width")
= image_tag("weixin/city/c_23.jpg",class: "full-width")
= image_tag("weixin/city/c_24.jpg",class: "full-width")
= image_tag("weixin/city/c_25.jpg",class: "full-width")
