= image_tag "weixin/home/h_00.jpg",class: "full-width"

= link_to image_tag("weixin/home/h_01.jpg",class: "full-width mt20"), "/weixin/pages/about_kt"
= link_to image_tag("weixin/home/h_02.jpg",class: "full-width mtf4"), "/weixin/pages/cities"
= link_to image_tag("weixin/home/h_03.jpg",class: "full-width mtf4"), "/weixin/pages/plan2026"
= link_to image_tag("weixin/home/h_05.jpg",class: "full-width mtf4"), "/weixin/pages/media"
= link_to image_tag("weixin/home/h_06.jpg",class: "full-width mtf4"), "/weixin/pages/join_club"
= link_to image_tag("weixin/home/h_07.jpg",class: "full-width mtf4"), "http://www.kicktempo.cn"
= link_to image_tag("weixin/home/h_04.jpg",class: "full-width mtf4"), "/weixin/pages/brands"
= link_to image_tag("weixin/home/h_08.jpg",class: "full-width mtf4"), "/weixin/pages/contact"
= link_to image_tag("weixin/home/h_bt.jpg",class: "full-width mtf4"), "#"
