= image_tag("weixin/club/a_02.jpg",class: "full-width")
= image_tag("weixin/club/a_03.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_04.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_05.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_06.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_07.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_08.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_09.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_10.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_11.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_13.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_14.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_15.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_16.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_17.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_18.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_19.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_20.jpg",class: "full-width mtf4")
= image_tag("weixin/club/a_21.jpg",class: "full-width mtf4")
