= image_tag("weixin/2026plan/a_01.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_02.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_03.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_04.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_05.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_06.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_07.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_08.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_09.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_10.jpg",class: "full-width")
= image_tag("weixin/2026plan/a_11.jpg",class: "full-width")
<iframe height=320 width=100% src="http://player.youku.com/embed/XNDYzMjM5NTY0" frameborder=0 allowfullscreen></iframe>
= image_tag("weixin/2026plan/a_13.jpg",class: "full-width")
