:css
  img{ padding: 0; margin: 0; display: block; }

= image_tag("weixin/qyd/a_01.jpg",class: "full-width")
= image_tag("weixin/qyd/a_02.jpg",class: "full-width")
= image_tag("weixin/qyd/a_03.jpg",class: "full-width")
= image_tag("weixin/qyd/a_04.jpg",class: "full-width")
= image_tag("weixin/qyd/a_05.jpg",class: "full-width")
= image_tag("weixin/qyd/a_06.jpg",class: "full-width")
= image_tag("weixin/qyd/a_07.jpg",class: "full-width")
= image_tag("weixin/qyd/a_08.jpg",class: "full-width")
= image_tag("weixin/qyd/a_09.jpg",class: "full-width")
= image_tag("weixin/qyd/a_10.jpg",class: "full-width")
= image_tag("weixin/qyd/a_11.jpg",class: "full-width")
= image_tag("weixin/qyd/a_12.jpg",class: "full-width")
= image_tag("weixin/qyd/a_13.jpg",class: "full-width")
= image_tag("weixin/qyd/a_14.jpg",class: "full-width")
= image_tag("weixin/qyd/a_15.jpg",class: "full-width")
